html {
  position: relative;
  min-height: 100%;
 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
     /* background:rgba(0,0,0,0.6) ;*/
	/*  background: url("C:/Users/UTKARSH/Desktop/Aavesh/Photos/background13.jpg") ;*/
   max-height:auto;
   max-width:auto;   
}

.navbar-fixed-bottom, .fixed-top {
    border-radius: 0;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
	background-color:
}

.Login
{
	
	border-radius:50px;
	font-size:1.1rem;
	color:#FFFFFF;
	border:2px Solid #FFFFFF; 
	background-color:rgb(169, 16, 234);
}

.navbar-inverse button[type="search"] {  
    	
		 -webkit-box-shadow: none;
    	 outline: 50px;
		 color:#FFFFFF;
		 background-color:rgb(178, 0, 255);
}

.navbar-inverse{
	
	background-color:rgb(169, 16, 234);
}
.navbar{
	
	background:rgba(0,0,0,0.1);
	 background-color: rgb(169, 16, 234);
     background-repeat: no-repeat;
	/* border-bottom:2px Solid #5CB85C;*/
}	

.nav-link {
	
	color: #FFFFFF !important;
    padding: 15px;
	margin-left: 25px;
	font-size:1.1rem;
}

.navbar-item{
	
	width:70px !important;
	margin-left:20px  !important;
	
}

.navbar-nav{
	
	width:700px;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
   /* outline: 0 none;*/
}

#footer-name{
	padding-top: 20px;
	color: #5CB85C;
	
}

a{
	/*color:#5CB85C;*/
}

a:hover{
	
	/*color: Green !important;*/
}

.grow { 

     transition: all .5s ease-in-out; 
}

.grow:hover { 

     transform: scale(1.2); 
}

.carousel{
	
   height:500px;
   width:100%;   
}

.carousel-custom{
	
   height:250px;
   width:100%;   
}


.carousel-item{
	
	height:500px;
}

.image{
	
	height:300px;
	width:500px;
	border-radius:30px;
}

.img-team{
	
	border-radius: 100px;
	height: 150px;
	width: 150px;
}

.notice{
	
	color:rgb(169, 16, 234);
	text-align:center;
/*	padding-top:20px;*/
/*	border:2px solid rgb(169, 16, 234); */
	height:362px;
	width:230px;
}



.bakwas{
	
	margin-top:20px;
}
.past-events{
	
	margin-left:10px;
	text-align:center;
	color:rgb(169, 16, 234);
	/*border:2px solid rgb(169, 16, 234);*/
}


section{
	
	padding:20px;
}

#team{
 
   text-align:center;
   background:url("C:/Users/UTKARSH/Desktop/Aavesh/Photos/background9.jpg") top left no-repeat;
   color:white;
   opacity:0.9;
   margin:15px;
   border-radius:30px;
}

.marquee{
	padding-top:70px;
}

.title{
	
	background:rgb(169, 16, 234);
	text-align:center;
	height:50px;
	border-radius:50px;
	
}

hr { 
    display: block;
    margin: 1em;
    border-style: inset;
    border:1px solid rgb(169, 16, 234);
}

.d-block{
	
	border-radius:30px;
}

table{
	
	border-color:rgb(169, 16, 234);
}

.Request-photos{
	
	text-align:center;
}

.hide-bullets {
list-style:none;
margin-left: -40px;
margin-top:20px;
}

.navbar-toggler {
    background-color:rgb(169, 16, 234);
	
}


.navbar-inverse .navbar-toggler-icon{

    
}
